// typography

h1, .h1 {
  font-size: $h1;
  @include line-height;
}
h2, .h2 {
  font-size: $h2;
  @include line-height;
}
h3, .h3 {
  font-size: $h3;
  @include line-height;
}
h4, .h4 {
  font-size: $h4;
  @include line-height;
}
