// layouts

header {
    background: #eeeeee;
}

footer {
    background: #444444;
    color: silver;
}

footer a {
    color: yellow;
}

.header-inner,
.main-inner,
.sidebar-inner,
.footer-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}
