// MAIN SCSS FILE

// VARIABLES

// typo

$font-size: 16px;
$font-color: #444444;
$h1: clamp(2.5rem, 2rem + 5vw, 5rem);
$h2: clamp(2.3rem, 2rem + 4vw, 4rem);
$h3: clamp(2.1rem, 2rem + 3vw, 3rem);
$h4: clamp(1.9rem, 2rem + 2vw, 2.5rem);
@mixin line-height {
  margin: 0;
  padding: 0 0 1rem 0;
  line-height: 1.5;
}

// header

$header-bg: #ffffff;

// breakpoints

$x-large: 1200px;
$large: 768px;
$medium: 460px;
$small: 320px;

// links

@mixin link {
  color: orange;
  text-decoration: none;
  &:hover {
    color: green;
    text-decoration: underline;
  }
}
// a {@include link;}

// buttons
$btn-text: orange;
$btn-text-hover: green;
$btn-bg: green;
$btn-bg-hover: orange;
$btn-radius: 10px;
$btn-padding: 0.5rem 1rem 0.5rem 1rem;

// parts

@import '_01-reset.scss';
@import '_02-base.scss';
@import '_03-typo.scss';
@import '_04-layout.scss';
@import '_05-navigation.scss';
@import '_06-components.scss';
